on enable-low-power
    start qcom-post-boot

    # Set Memory parameters
    write /proc/sys/vm/swappiness 100
    swapon_all /vendor/etc/fstab.qcom

    # Set GPU idle freq & default gov
    write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 3
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz

    # Enable core control
    write /sys/devices/system/cpu/cpu0/core_ctl/min_cpus 2
    write /sys/devices/system/cpu/cpu0/core_ctl/max_cpus 4
    write /sys/devices/system/cpu/cpu0/core_ctl/busy_up_thres 75
    write /sys/devices/system/cpu/cpu0/core_ctl/busy_down_thres 55
    write /sys/devices/system/cpu/cpu0/core_ctl/offline_delay_ms 100
    write /sys/devices/system/cpu/cpu0/core_ctl/task_thres 20

on charger
    write /sys/module/lpm_levels/parameters/sleep_disabled 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave

on property:init.svc.recovery=running
    trigger enable-low-power

on property:sys.boot_completed=1
    trigger enable-low-power
    setprop persist.sys.io.scheduler cfq
